@import url("https://fonts.googleapis.com/css2?family=Comme:wght@100&display=swap");

* {
    font-family: 'Comme', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
}

table{
    margin: 0 auto;
}

#more{
    width: 25px;
    height: 25px;
}

#grid{
    display: grid;
    grid-template-columns: auto auto;
    background-color: darkgoldenrod;
    gap: 10px;
    padding: 10px;
    font-size: large;
}

#grid > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
}

#Image{
    grid-row: 1 / span 3;
    grid-column: 2;
}

#Pictogramme{
    grid-row: 4 / span 2;
    grid-column: 2;
}

#retour{
    grid-row: 6;
    grid-column: 1 / span 2;
}

#imP{
    width: 300px;
    height: 200px;
}

#pic{
    width: 60px;
    height: 60px;
}